<div class="add-channel-container">
	<div class="option">
		<h1>Add Channel</h1>
		<h4>Choose a name and type to get started</h4>
		<div class="input-msg">
			<input type="input" class="form-field" name="channel-name" id='channel-name'/>
			<label for="channel-name" class="form-label">Channel Name</label>
		</div>
		<div class="actions">
			<a class="cancel active">cancel</a>
			<a class="add">create</a>
		</div>
	</div>
	<div class="option">
		<h1>Change Channel</h1>
		<h4>Please provide the name you want to chnage to</h4>
		<div class="input-msg">
			<input type="input" class="form-field" name="channel-name" id='channel-name'/>
			<label for="channel-name" class="form-label">Channel Name</label>
		</div>
		<div class="actions">
			<a class="cancel active">cancel</a>
			<a class="add">change</a>
		</div>
	</div>
	<div class="option">
		<h1>Unban List</h1>
		<h4>Enter the channel name to confirm deletion</h4>
		<div class="input-msg">
			<input type="input" class="form-field" name="channel-name" id='channel-name'/>
			<label for="channel-name" class="form-label">Channel Name</label>
		</div>
		<div class="actions">
			<a class="cancel active">cancel</a>
			<a class="add">delete</a>
		</div>
	</div>
	<div class="option">
		<h1>Delete Channel</h1>
		<h4>Enter the channel name to confirm deletion</h4>
		<div class="input-msg">
			<input type="input" class="form-field" name="channel-name" id='channel-name'/>
			<label for="channel-name" class="form-label">Channel Name</label>
		</div>
		<div class="actions">
			<a class="cancel active">cancel</a>
			<a class="add">delete</a>
		</div>
	</div>
	<div class="option">
		<h1>Change Username</h1>
		<h4>Enter your new username</h4>
		<div class="input-msg">
			<input type="input" class="form-field" name="channel-name" id='channel-name'/>
			<label for="channel-name" class="form-label">Username</label>
		</div>
		<div class="actions">
			<a class="cancel active">cancel</a>
			<a class="add">change</a>
		</div>
	</div>

</div>
