<div class="add-friend-container">
	<div class="option add-friend">
		<h1>Add Friend</h1>
		<h4>Add people to your friends list</h4>
		<div class="input-msg">
			<input type="input" class="form-field" name="username" id='username'/>
			<label for="username" class="form-label">Username</label>
		</div>
		<div class="actions">
			<a class="cancel active">cancel</a>
			<a class="add">add</a>
		</div>
	</div>
	<div class="option add-member">
		<h1>Add Member</h1>
		<h4>Add members to your <span>channel name</span></h4>
		<ul class="drop-down">
			<li class="select-box">
				<div class="profile">
					<a>
						<img src="../assets/imgs/sidebar/profile.jpg">
						<span class="nickname">brahim</span>
					</a>
				</div>
				<div class="actions">
					<a><i class="fa-solid fa-plus"></i></a>
				</div>
			</li>

			<li class="select-box">
				<div class="profile">
					<a>
						<img src="../assets/imgs/sidebar/profile.jpg">
						<span class="nickname">brahim</span>
					</a>
				</div>
				<div class="actions">
					<a><i class="fa-solid fa-plus"></i></a>
				</div>
			</li>

		</ul>
		<div class="actions">
			<a class="cancel active">cancel</a>
		</div>
	</div>
</div>