<div class="sidebar">
	<div class="header">
		<div class="text">Social</div>
	</div>
	<div class="nav">
		<ul class="links">
			<li class="active"><a class="btn">Friends</a></li>
			<li class="inactive"><a class="btn">Channels</a></li>
		  </ul>
	</div>
	<div class="friends show">
		<ul class="nav">
			<li class="add-friend">
				<a href="">Add Friend</a>
			</li>
			<li class="select-box">
				<a href="">Pending</a>
			</li>
			<li class="select-box">
				<a href="">Invited</a>
			</li>
			<li class="select-box">
				<a href="">Blocked</a>
			</li>
		</ul>
	</div>
	<div class="channels hidden">

	</div>
</div>