<div class="sidebar">
	<div class="header">
		<div class="txt">
			<img src="../assets/imgs/sidebar/friends.svg"><span>Social</span>
		</div>
	</div>
	<div class="nav">
		<ul class="links">
			<li class="active"><a class="btn">Friends</a></li>
			<li class="inactive"><a class="btn">Channels</a></li>
		  </ul>
	</div>
	<div class="friends show">
		<ul class="nav">
			<li class="add-friend">
				<a>
					<i class="fa-solid fa-user-plus"></i>
					<span>Add Friend</span>
				</a>
			</li>
			<li class="select-box close">
				<a>
					<i class="fa-solid fa-user-group"></i>
					<span>Friends</span>
					<i class="fa-solid fa-angle-down"></i>
					<!-- <i class="fa-solid fa-angle-up"></i> -->
				</a>
			</li>
			<!-- drop-down menu -->
			<ul class="drop-down">
				<li class="select-box close">
					<div class="profile">
						<a>
							<img src="../assets/imgs/sidebar/profile.jpg">
							<span class="nickname">brahim</span>
						</a>
					</div>
					<div class="actions">
						<a><img src="../assets/imgs/sidebar/block.svg"></a>
						<a><img src="../assets/imgs/sidebar/trush.svg"></a>
					</div>
				</li>
			</ul>
			<li class="select-box close">
				<a>
					<img src="../assets/imgs/sidebar/pending.svg"><span>Pending</span><img src="../assets/imgs/sidebar/arrow.svg">
				</a>
			</li>
			<!-- drop-down menu -->
			<ul class="drop-down">
				<li class="select-box close">
					<div class="profile">
						<a>
							<img src="../assets/imgs/sidebar/profile.jpg">
							<span class="nickname">brahim</span>
						</a>
					</div>
					<div class="actions">
						<a><img src="../assets/imgs/sidebar/check.svg"></a>
						<a><img src="../assets/imgs/sidebar/cancel.svg"></a>
					</div>
				</li>
			</ul>
			<li class="select-box close">
				<a>
					<img src="../assets/imgs/sidebar/Group-11.svg"><span>Invited</span><img src="../assets/imgs/sidebar/arrow.svg">
				</a>
			</li>
			<!-- drop-down menu -->
			<ul class="drop-down">
				<li class="select-box close">
					<div class="profile">
						<a>
							<img src="../assets/imgs/sidebar/profile.jpg">
							<span class="nickname">brahim</span>
						</a>
					</div>
					<div class="actions">
						
						<a><img src="../assets/imgs/sidebar/trush.svg"></a>
					</div>
				</li>
			</ul>
			<li class="select-box close">
				<a>
					<img src="../assets/imgs/sidebar/blocked.svg"><span>Blocked</span><img src="../assets/imgs/sidebar/arrow.svg">
				</a>
			</li>
			<!-- drop-down menu -->
			<ul class="drop-down">
				<li class="select-box close">
					<div class="profile">
						<a>
							<img src="../assets/imgs/sidebar/profile.jpg">
							<span class="nickname">brahim</span>
						</a>
					</div>
					<div class="actions">
						
						<a><img src="../assets/imgs/sidebar/time-past.svg"></a>
					</div>
				</li>
			</ul>
		</ul>
	</div>
	<div class="channels hidden">
		<ul class="nav">
			<li class="add-channel">
				<a>
					<img src="../assets/imgs/sidebar/add-friend-svgrepo-com.svg"><span>Create Channel</span>
				</a>
			</li>
			<li class="select-box close">
				<a>
					<img src="../assets/imgs/sidebar/friends.svg"><span>Channels</span><img src="../assets/imgs/sidebar/arrow.svg">
				</a>
			</li>
			<!-- drop-down menu -->
			<ul class="drop-down">
				<li class="select-box close">
					<div class="profile">
						<a>
							<img src="../assets/imgs/sidebar/profile.jpg">
							<span class="nickname">brahim</span>
						</a>
					</div>
					<div class="actions">
						<a><img src="../assets/imgs/sidebar/block.svg"></a>
						<a><img src="../assets/imgs/sidebar/trush.svg"></a>
					</div>
				</li>
			</ul>
	</div>
</div>