<div class="nav">
	<div class="logo"> 
		<a href="#"><img src="../assets/imgs/Logo.svg"></a>
	</div>
	<div class="links-container">
		<ul class="links">
			<li class="game"> 
				<a href="#" class="active"><img src="../assets/imgs/game_icon.svg"></a> 
			</li>
			<li class="chat"> 
				<a href="#"><img src="../assets/imgs/chat_icon.svg"></a> 
			</li>
			<li class="profiles"> 
				<a href="#"><img src="../assets/imgs/profile_icon.svg"></a> 
			</li>
			<li class="achievement"> 
				<a href="#"><img src="../assets/imgs/achievement_icon.svg"></a> 
			</li>
			<li class="settings"> 
				<a href="#"><img src="../assets/imgs/settings_icon.svg"></a> 
			</li>
			<li class="profile"> 
				<a href="#"><img src="../assets/imgs/profile-svgrepo-com.svg"></a>
			</li>
		</ul>
	</div>
</div>
<script src="../scripts/nav.js"></script>