<div class="profile-container">
	<div class="header">
		<div class="profile-img">
			<img src="../assets/imgs/sidebar/profile.jpg">
		</div>
		<div class="data">
			<div class="subdata" class="nickname">
				<div class="name first">bmengouc</div>
				<div class="joined second">joined: 10/15/2024</div>
			</div>
			<div class="subdata" class="rank">
				<div class="first">#1</div>
				<div class="second">Current Rank</div>
			</div>
			<div class="subdata" class="matches">
				<div class="first">1</div>
				<div class="second">Matches Played</div>
			</div>
			<div class="subdata" class="achievement">
				<div class="first">1</div>
				<div class="second">Achievements</div>
			</div>
		</div>
	</div>
	<div class="body">

		<!-- match history -->
		<div class="match-history">
			<div class="text">
				<span class="txt">Match History</span>
				<a class="view">View All</a>
			</div>
			<div class="results">
				<div class="match lose">
					<div class="score1">5</div>
					<div class="score2">10</div>
				</div>
				<div class="match win">
					<div class="score1">14</div>
					<div class="score2">7</div>
				</div>
			</div>
		</div>

		<!--  -->
		<div class="info-container">

			<div class="winning-rate">
				<div class="text">Winning rate</div>
				<div class="circle-container">
					<div class="circle percentage-68">
					  <span>20 Wins<br/>(68%)</span>
					  <div class="percentage-bar"></div>
					</div>
				</div>
			</div>
			
			<div class="ranking">
				<div class="match-history">
					<div class="text">
						<span class="txt">Longest Streak</span>
					</div>
					<div class="results">
						<div class="match lose">
							<div class="score1">5</div>
							<div class="score2">10</div>
						</div>
						<div class="match win">
							<div class="score1">14</div>
							<div class="score2">7</div>
						</div>
					</div>
				</div>

				<div class="match-history">
					<div class="text">
						<span class="txt">Latest Match</span>
					</div>
					<div class="results">
						<div class="match lose">
							<div class="score1">5</div>
							<div class="score2">10</div>
						</div>
						<div class="match win">
							<div class="score1">14</div>
							<div class="score2">7</div>
						</div>
					</div>
				</div>

				<!-- leader board -->
				<div class=" match-history leader-board">
					
				</div>

			</div>
		</div>
	
	</div>
</div>