<div class="sidebar-container">
	<div class="sidebar-right2">
		<div class="header">
			<div class="txt">
				<!-- <i class="fa-duotone fa-solid fa-users"></i> -->
				<i class="fa-solid fa-users"></i>
				<span>Members</span>
			</div>
		</div>
		<div class="friends">
			<ul class="nav">
				<li class="add-friend">
					<a>
						<i class="fa-solid fa-user-plus"></i>
						<span>Add Member</span>
					</a>
				</li>
				<!-- drop-down menu -->
				<ul class="drop-down">
					<li class="select-box owner">
						<div class="profile">
							<a>
								<img src="../assets/imgs/sidebar/profile.jpg">
								<span class="nickname"><i class="fa-solid fa-star"></i> brahim</span>
							</a>
						</div>
					</li>
					<li class="select-box ch-friends">
						<div class="profile">
							<a>
								<img src="../assets/imgs/sidebar/profile.jpg">
								<span class="nickname"><i class="fa-solid fa-user"></i> brahim</span>
							</a>
						</div>
						<div class="actions">
							<a class="first"><i class="fa-solid fa-user-gear"></i></a>
							<a class="second"><i class="fa-solid fa-table-tennis-paddle-ball"></i></a>
						</div>
					</li>
				</ul>
			</ul>
		</div>
	</div>
	<!-- <div class="channel-setting">
		<a class="change"><i class="fa-solid fa-pen"></i><span>Change Channel Name</span></a>
		<a><i class="fa-solid fa-paintbrush"></i><span>Change Channel Type</span></a>
		<a><i class="fa-solid fa-face-frown"></i><span>Unban List</span></a>
		<a class="delete"><i class="fa-solid fa-fire"></i><span>Delete Channel</span></a>
	</div> -->
</div>