<div class="sidebar-right2-container">
	<div class="sidebar-right2">
		<div class="header">
			<div class="txt">
				<!-- <i class="fa-duotone fa-solid fa-users"></i> -->
				<i class="fa-solid fa-users"></i>
				<span>Members</span>
			</div>
		</div>
		<div class="friends">
			<ul class="nav">
				<li class="add-friend">
					<a>
						<i class="fa-solid fa-user-plus"></i>
						<span>Add Member</span>
					</a>
				</li>
				<!-- drop-down menu -->
				<ul class="drop-down">
					<li class="select-box owner">
						<div class="profile">
							<a>
								<img src="../assets/imgs/sidebar/profile.jpg">
								<span class="nickname"><i class="fa-solid fa-star"></i><span>brahim</span></span>
							</a>
						</div>
					</li>
					<!-- <li class="select-box ch-friends">
						<div class="profile">
							<a>
								<img src="../assets/imgs/sidebar/profile.jpg">
								<span class="nickname">
									<i class="fa-solid fa-user"></i>
									<span>brahim</span>
								</span>
							</a>
						</div>
						<div class="actions">
							<a class="first"><i class="fa-solid fa-user-gear"></i></a>
							<a class="second"><i class="fa-solid fa-table-tennis-paddle-ball"></i></a>
						</div>
					</li> -->
				</ul>
			</ul>
		</div>
	</div>
	<div class="member-setting">
		<a class="pass"><i class="fa-solid fa-hand-holding-hand"></i><span>Pass Channel Ownership</span></a>
		<a class="promote"><i class="fa-solid fa-user-shield"></i><span>Promote To Admin</span></a>
		<a class="ban"><i class="fa-solid fa-hammer"></i><span>Ban User</span></a>
		<a class="kick"><i class="fa-solid fa-person-falling"></i><span>Kick User</span></a>
		<a class="mute"><i class="fa-solid fa-comment-slash"></i><span>Mute User</span></a>
	</div>
</div>