
::-webkit-scrollbar {
  width: 6px;
}

/* Track */
::-webkit-scrollbar-track {
  /* background: #aa5656; */
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.sidebar{
	width: 330px;
	height: 600px;
	background-color: #2a1a4d;
	position: absolute;
	top: calc(50% - 300px);
	/* left: -300px; */
	left: 0;
	overflow: auto;
	/* overflow-x: none; */
	/* transition: left 10s ease-in-out 10s; */
	/* padding: 10px 20px; */
	/* border: 3px solid #1984; */
	outline: 3px solid #1984;
}

.sidebar.hover{
	-webkit-animation: hover 0.5s normal forwards; 
	-moz-animation:    hover 0.5s normal forwards;
	-o-animation:      hover 0.5s normal forwards;
}

.sidebar.leave{
	-webkit-animation: leave 0.5s normal forwards; 
	-moz-animation:    leave 0.5s normal forwards;
	-o-animation:      leave 0.5s normal forwards;
}


/* The animation code */
@keyframes hover {
	from  {left: -300px;}
	to {left: 0;}
  }

  @keyframes leave {
	from  {left: 0;}
	to {left: -300px;}
  }

  .show {
	display: block;
  }
  .hidden {
	display: none;
  }

  .sidebar .header {
	width: 100%;
	height: 15%;
	background: linear-gradient(to right, #ae528e, #ae8660);
	
  }
  .sidebar .header .txt {
	width: 100%;
	height: 100%;
	display: flex;
	align-items: center; 
	justify-content: center;
	color: #fff;
  }

  .sidebar .header .txt span{
	display: inline-block;
	/* background-color: #fff; */
	/* height: 100%; */
	/* font-weight: bold; */
	font-size: 30px;
	
	margin-left: 10px;
  }

  .sidebar .header .txt i{
	font-size: 30px;
	margin-right: 10px;
  }

  .sidebar .nav .links
  {
	display: flex;
	justify-content: space-around;
	margin: 0;
	padding: 10px 0;
	/* background-color: aliceblue; */
	list-style-type: none;
	font-size: 20px;
  }

.sidebar .nav .links li {
	/* padding-left: 10px; */
	display: inline-block;
	/* text-align: left; */
	/* padding-right: 10px; */
	padding: 10px 20px;
}

.sidebar .nav .links li a {
	  color: #9a92ab;
	  border: none;
	  display: inline-block;
  }

  .sidebar .nav .links li.active {
	padding-bottom: 10px;
	/* color: rgb(206, 130, 230); */
	text-decoration: none;
	transition: all .25s ease;
	cursor: pointer;
	border-bottom: solid 8px #c1bdc9;
  }

  .sidebar .nav .links li.active a{
	/* padding-bottom: 10px; */
	color: rgb(206, 130, 230);
	/* text-decoration: none; */
	/* border-bottom: solid 5px #ce82e6; */
	/* transition: all .25s ease; */
	cursor: pointer;
  }
  
  .sidebar .nav .links li.inactive a {
	padding-bottom: 0;
	color: rgba(225, 224, 224, 0.3);
	text-decoration: none;
	border-bottom: none;
	cursor: pointer;
  }
  
.sidebar .friends, .sidebar .channels{
	padding: 30px 0;
	/* background-color: brown; */
	text-align: center;
}

.sidebar .friends .nav, 
.sidebar .channels .nav {
	list-style-type: none;
}

.sidebar .friends .nav > li, 
.sidebar .channels .nav > li {
	margin: 20px 10px;
	border-radius: 10px;
	background-color: #c9c1d6;
	color: #32076c;
	padding: 5px 0;
	/* display: flex;
	align-items: center;
	justify-content: center; */
}

.sidebar .friends .nav > li.add-friend,
.sidebar .channels .nav > li.add-channel {
	margin: 0 40px;
	border-radius: 5px;
	background-color: #04975b;
}

.sidebar .friends .nav > li > a,
.sidebar .channels .nav > li > a{
	text-decoration: none;
	display: inline-block;
	/* padding: 20px 0; */
	width: 100%;
	height: 100%;
	/* background-color: #fff; */
	border-radius: 10px;
	padding: 10px 20px;
	
}

.sidebar .friends .nav > li.add-friend a,
.sidebar .channels .nav > li.add-channel a {
	border-radius: 5px;
	/* background-color: #04975b; */
	text-align: center;
}

.sidebar .friends .nav > li a:hover,
.sidebar .channels .nav > li a:hover{
	cursor: pointer;
}

.sidebar .friends .nav > li a span,
.sidebar .channels .nav > li a span {
	display: inline-block;
	padding: 10px 0;
	padding: 0;
	font-size: 20px;
	font-weight:900;
	margin: 0 30px;
}

.sidebar .friends .nav > li a i,
.sidebar .channels .nav > li a i
{
	font-weight: 700;
	font-size: 20px;
	/* margin: 0 30px; */
}

.sidebar .friends .nav > li a i.i-left,
.sidebar .channels .nav > li a i.i-left
{
	float: left;
	margin-left: 20px;
}

.sidebar .friends .nav > li a i.i-right,
.sidebar .channels .nav > li a i.i-right
{
	float: right;
	margin-right: 20px;
}

.sidebar .friends .nav > li.add-friend a span,
.sidebar .channels .nav > li.add-channel a span {
	margin: 0 10px;
}

/* .drop-down {
	display: none;
} */

.drop-down {
	display: none;
}

.drop-down .select-box{
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #983a3a;
	margin: 10px 5px;
	border-radius: 10px;
	background-color: #776f6f;
	padding: 5px 0;
}

.drop-down .profile{
	flex: 75%;
	/* background-color: #ae528e; */
	
}


.drop-down .profile a {
	display: flex;
	justify-content: space-evenly;
	align-items: center;
	/* background-color: #fff; */
	
}

.drop-down .profile a img:hover, .drop-down .profile a span:hover{
	cursor: pointer;
}


.drop-down .profile a img {
	border-radius: 50%;
	width: 20%;
	height: 100%;
	/* margin: 0 10px; */
}

.drop-down .profile a span {
	font-weight:500;
	font-size: 20px;
	/* margin: 0 auto; */
}

.drop-down .actions {
	flex: 25%;
	/* background-color: #6c2121; */
	display: flex;
	align-items:center;
	justify-content: center;
}

.drop-down .actions a {
	display: inline-block;
	text-decoration: none;
	/* background-color: #04975b; */
	margin: 0 5px;
	padding: 10px;
	font-size: 20px;
}

/* .drop-down .actions a i {
	width: 100%;
	height: 100%;
} */

.drop-down .actions a i {
	cursor: pointer;
}

.channels .drop-down.my-channels .select-box .actions{
	position: relative;
}

.sidebar-container .channel-setting{
	display: none;
	background-color: #f1f1f1;
	min-width: 160px;
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
	/* position: absolute; */
}

.sidebar-container .channel-setting a {
	color: black;
	padding: 12px 16px;
	text-decoration: none;
	display: block;
}

.sidebar-container .channel-setting a:hover{
	background-color: #ddd;
	cursor: pointer;
}

.sidebar-container .channel-setting a i {
	margin-right: 10px;
	float: left;
}